<ion-content>
    <div class="header">
        <img src="assets/imges/bg5.jpg" id="overlay" alt="">
        <div class="textBx">
            <h1>
                Todo Lists
            </h1>
            <h4>
                {{showDate}}
            </h4>
        </div>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="light" (click)="addNewItemAlert()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>

    <!-- my todo lists -->
    <ion-list>
        <ion-card *ngFor="let item of items; index as i">
            <ion-card-header>
                <ion-card-title>
                    <span>
                        {{ item.itemName }}
                    </span>
                    <ion-icon name="trash-outline" (click)="deleteItem(i)"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>
                    <ion-icon name="calendar-outline"></ion-icon>
                    {{ item.noteTime }}
                </ion-card-subtitle>
            </ion-card-header>
        </ion-card>

    </ion-list>

    <!-- my todo lists -->
</ion-content>